<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangjiao.mapper.OptionMapper">
    <resultMap id="option" type="com.yangjiao.domain.Option">
        <id property="id" column="id"/>
        <result property="questionId" column="question_id"/>
        <result property="content" column="content"/>
        <result property="orderNumber" column="order_number"/>
        <result property="isAnswer" column="is_answer"/>
    </resultMap>
    <insert id="insert">
        insert into `option`(question_id, content, order_number, is_answer)
        values (#{questionId}, #{content}, #{orderNumber}, #{isAnswer})
    </insert>
    <select id="selectById" resultMap="option">
        select id, question_id, content, order_number, is_answer
        from `option`
        where id = #{id}
    </select>
    <select id="selectAllByQuestionId" resultMap="option">
        select id, question_id, content, order_number, is_answer
        from `option`
        where question_id = #{questionId}
        order by order_number
    </select>

</mapper>