<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangjiao.mapper.QuestionMapper">

    <resultMap id="questionMap" type="question">
        <id property="id" column="id"/>
        <result property="questionnaireId" column="questionnaire_id"/>
        <result property="orderNumber" column="order_number"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="isRequired" column="is_required"/>

    </resultMap>
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into question(questionnaire_id, order_number, title, type, is_required)
        values (#{questionnaireId}, #{orderNumber}, #{title}, #{type}, #{isRequired})
    </insert>
    <update id="update">
        update question
        <set>
            <if test="questionnaireId != null">questionnaire_id = #{questionnaireId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="type != null">type = #{type},</if>
            <if test="isRequired != null">is_required = #{isRequired},</if>
            <if test="isPrivate != null">is_private = #{isPrivate}</if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteByIdInt">
        delete
        from question
        where id = #{id}
    </delete>
    <select id="selectAllByQuestionnaireId" resultMap="questionMap">
        select id, questionnaire_id, order_number, title, type, is_required
        from question
        where questionnaire_id = #{questionnaireId}
        order by order_number
    </select>
    <select id="selectById" resultMap="questionMap">
        select id, questionnaire_id, order_number, title, type, is_required
        from question
        where id = #{id}
    </select>
</mapper>