<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- 配置组件扫描 -->
    <context:component-scan base-package="com.yangjiao.controller"/>
    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value=""/>
        <property name="suffix" value=""/>
    </bean>
    <!-- 配置注解驱动 -->
    <mvc:annotation-driven/>
    <!-- 配置默认servlet处理以开放静态资源 -->
    <mvc:default-servlet-handler/>

    <!-- 邮件功能 -->
    <!-- 读取配置文件 -->
    <context:property-placeholder location="classpath:mail.properties" ignore-unresolvable="true"/>
    <!-- 配置邮件接口 -->
    <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.smtp.host}"/>
        <property name="username" value="${mail.smtp.username}"/>
        <property name="password" value="${mail.smtp.password}"/>
        <property name="defaultEncoding" value="${mail.smtp.defaultEncoding}"/>

        <property name="port" value="${mail.smtp.port}" />
        <property name="protocol" value="${mail.smtp.protocol}" />

        <property name="javaMailProperties">
            <props>
                <!-- 开启认证 -->
                <prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
                <!-- 设置超时 -->
                <prop key="mail.smtp.timeout">${mail.smtp.timeout}</prop>
            </props>
        </property>
    </bean>
</beans>